.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
}

.btn--primario {
    background-color: var(--primary-color);
    border: none;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(var(--primary-color), 0.15);
    color: white;
}

.btn--secundario {
    background-color: var(--accent-color);
    border: none;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 0 8px rgba(var(--accent-color), 0.15);
    color: white;
}

.btn--primario:hover:not(:disabled),
.btn--primario:focus:not(:disabled),
.btn--primario:active:not(:disabled),
.btn--secundario:hover:not(:disabled),
.btn--secundario:focus:not(:disabled),
.btn--secundario:active:not(:disabled) {
    background-color: var(--secondary-color);
    color: black;
    transform: translateY(-2px);
}