.catalogo-page {
  padding-top: 40px;
}

.catalogo-hero {
  padding-bottom: 70px;
}

.catalogo-grid {
  padding-bottom: 120px;
}

.product-card {
  border: none !important;
  border-radius: 28px !important;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, .06);

  transition: .3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card .product-image {
  height: 280px;
}

.product-card .card-body {
  padding: 24px;
}

.product-image-wrapper {
  height: 295px;
}

.product-image {
  object-fit: contain;
}

.price {
  color: var(--secondary-color);
  font-weight: 700;
  margin: 15px 0;
}

.img-productor {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.productor-link {
  color: var(--title-color);
  transition: 0.3s ease;
  &:hover {
    color: var(--secondary-color);
  }
}